/nbproject/*
app/tmp/*
app/conf/local/*
setup.php
/media/*
.DS_Store
.settings
.project
app/lib/core/Parsers/htmlpurifier/standalone/HTMLPurifier/DefinitionCache/Serializer/*
app/lib/core/Parsers/htmlpurifier/standalone/HTMLPurifier/DefinitionCache/Serializer/HTML
.idea